.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.acordian{
  padding: 0px;
}
.detail-img{
  height: 300px;
  width: 300px;
  border-radius: 3%;
}
.detail-img :hover{
  height: 300px;
  width: 300px;
  border-radius: 3%;
  opacity: 0.5;
}
.scroll-div{
  overflow-x: scroll;
  /* padding-right: 1rem; */
}
.home-img{
  /* background-image: url('./nasa-Q1p7bh3SHj8-unsplash.jpg'); */
  background-image: url('/src/images/mount.jpeg');
}
.sticky-header{
  position: sticky !important;
  top: 0 !important;
}

.jumbotron {
  /* background-image: url('/src/images/mount.jpeg'); */
  background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F720435271615760741%2F&psig=AOvVaw3NGYnNA221XMnyk9KmXCz6&ust=1586481834534000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMjyidiY2ugCFQAAAAAdAAAAABAD")
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
